body {
    background-color: lightskyblue;
    padding-top: 65px;
    padding-left: 15px;
    padding-right: 15px;
}

#content {
    background-color: white;
    border-radius: 25px;
    padding-top: 45px;
}

.chart-holder {
    width: 100%;
}

.no-bullets {
    list-style-type: none;
}

figure figcaption{
    text-align: center;
}